@model IEnumerable<moviesTable>
@{
    ViewData["Title"] = "Movie Filter";
}

<div class="text-center">
    <div class="row">
        <div class="col-sm-6">
           <input id="movieName" placeholder="Enter movie name" class="form-control" />           
        </div>
        <div class="col-sm-3">
            <select id="ratingDDL" name="ratingDDL" class="form-control" multiple asp-items="@(new SelectList(@ViewBag.ListofMovie,"Rating", "Rating"))">
            </select>
        </div>
        <div class="col-sm-3">
            <select id="genre" name="genre" class="form-control" multiple asp-items="@(new SelectList(@ViewBag.ListofMovie,"Category", "Category"))">
            </select>
        </div>

    <div class="col-sm-12">
        <h1 class="display-4">Movie List</h1>
        <table class="table" id="MovieList">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Rating)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @* @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Rating)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                        </td>
                    </tr>
                } *@
            </tbody>
        </table>
        </div>
    </div>
</div>